/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.5;
  
  li {
    float: left;
  
         a {
         display: block;
         color: white;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 20px;
         
            &:hover:not(.active) {
            background-color: #111;
            }
         }
    
    }
}*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/*Disabled desktop menu*/
/*Re-enabled in media query*/
.main-nav {
  display: none;
}

.account {
  display: none;
}

#wrapper {
  margin-left: 3rem;
}

.main-name-2 {
  display: none;
}

/*Hamburger menu*/
.menu-burger {
  margin-top: 3rem;
  cursor: pointer;
  position: fixed;
}

.bar {
  height: .2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: .6rem;
  margin-left: 2px;
}

/*Sidebar Menu naviation*/
.main-nav-menu {
  position: fixed;
  left: -26rem;
  margin-top: 2.5rem;
  width: 26rem;
  height: 92%;
  background: url(../images/rice.jpg) gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: left .8s cubic-bezier(1, 0, 0, 1);
  z-index: 999;
}

.heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
  margin-top: -70%;
  font-size: 3.5rem;
}

ul {
  margin-top: -80%;
}

li {
  margin-bottom: 14%;
}

.nav-list-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2px 2px 4px #4b4b4b;
}

.nav-link-menu {
  color: darkgreen;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: .1rem;
}

.checkbox:checked~.main-nav-menu {
  left: 3.5rem;
}

/*Sidebar Menu naviation ENDED*/

/*Logo*/
.logo {
  display: none;
}

/*Pasta image on header*/
.main-name {
  padding: 10vh 0;
  background: gray url("../images/pasta.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: -4rem;

}

/*Line under pasta image*/
hr {
  margin: 20rem 1rem 5rem 0;

}

/*Main name displayed*/
.label-2 {
  margin-top: -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h2 {
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  font-size: 600%;
  opacity: 0.5;
  text-decoration: underline;
}

.Chefs-Recipes-1 {
  font-size: 200%;
  opacity: 0.5;
}

.home-about {
  //background: #F4F4F4;
  align-items: center;

  .p1 {

    font-size: 2rem;
    text-align: center;
    padding: 30% 15% 12% 15%;
    font-family: 'Segoe UI';
    color: slategray;


    span {

      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;

      &:hover {
        background-size: 100% 88%;
      }
    }

  }
}



/*Media query*/
@media(min-width:900px) {
  .menu-nav {
    display: none;
  }

  #wrapper {
    margin-left: -3rem;
  }

  .label-2 {
    display: none;
  }

  /*Navigation*/
  .account {
    display: flex;
  }

  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .main-nav {
    display: flex;
  }

  .nav-link {
    --spacing: 1em;
    /* <---- */
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
  }

  .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }

  .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .nav-btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
  }

  .nav-btn:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
  }

  .nav-btn::after {
    display: none;
  }

  .nav-btn-highlight {
    background: limegreen;
    border-color: limegreen;
    color: #333;
  }

  .nav-btn-highlight:hover {
    background: var(--text);
    border-color: var(--text);
  }

  /*Main header image and nav*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 2em 3em;
    --text: #f4f4f4;
    /* <---- */
    --text-inverse: #333;
    /* <---- */
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
  }

  /*Line under pasta image*/
  hr {
    margin-left: 2rem;

  }

  /*Image and page name*/
  .main-name {
    padding: 20vh 0;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*Page name*/
  h1 {
    font-size: 200px;
    opacity: 0.5;

  }

  .chefs {
    font-size: 4rem;
    opacity: 0.5;
  }

  /*Logo*/
  .logo {
    display: flex;
    background: white;
    border-radius: 50%;
    padding: 12px;
    opacity: 0.7;
  }

  .home-about {
    //background: #F4F4F4;
    align-items: center;

    .p1 {

      font-size: 3.5rem;
      text-align: center;
      padding: 5% 30% 5% 30%;
      font-family: 'Segoe UI';
      color: slategray;


      span {

        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;

        &:hover {
          background-size: 100% 88%;
        }
      }

    }
  }
}


//Search Bar!!